.body-dash {
  display: flex;
  background-color: rgb(242, 242, 242);
  border-top: 1em solid rgb(0, 128, 128);
}

.sidebar {
  width: 300px;
  background-color: rgb(0, 128, 128);
  color: #fff;
  padding: 20px;
  height: 930px;
}

.sidebar p {
  font-size: 0.9em;
  margin-bottom: 20px;
}

.sidebar nav ul {
  list-style: none;
}

.sidebar nav ul li {
  margin-bottom: 15px;
}

.sidebar nav ul li a {
  color: #fff;
  text-decoration: none;
}

.main-content {
  flex-grow: 1;
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 2px solid #ccc;
}

.header-info p {
  margin: 5px 0;
}

.header-info {
  display: flex;
  gap: 10px;
}

.mid-nav {
  background-color: white;
  padding: 10px;
  color: rgb(0, 128, 128);
  cursor: pointer;
  border-radius: 10px;
}

.john-profile img {
  border-radius: 50%;
}

.header-icon img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.content {
  margin-top: 20px;
}

.content-left {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  width: 700px;
  height: 700px;
}

.all-content {
  display: flex;
  justify-content: space-between;
}

.profile {
  text-align: center;
}

.profile img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.profile h2 {
  margin-top: 10px;
  font-size: 1.3em;
}

.general-info {
  grid-column: span 2;
}

.general-info h3 {
  margin-bottom: 15px;
}

.general-info table {
  width: 100%;
}

.general-info td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

.stats {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  width: 800px;
}

.stat-item {
  background-color: #fff;
  padding: 15px;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.stat-item p {
  font-size: 1.2em;
  margin-bottom: 5px;
}

.visitors {
  grid-column: span 2;
  margin-top: 20px;
  left: 70%;
  right: 50%;
}

.visitors h3 {
  margin-bottom: 10px;
}

.visitors table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.visitors td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  text-align: center;
}

.visitors td:first-child {
  text-align: left;
}

.about-famcare {
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-top: 8em;
}
.about-famcare h3 {
  margin-bottom: 1em;
  font-size: 2em;
}

#about-famcare {
  width: 50%;
  margin: 0 auto;
  margin-top: 4em;
}
#about-famcare p {
  font-size: 18px;
}

#benefits {
  width: 60%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 10em;
}
#benefits h3 {
  margin-bottom: 10px;
  font-size: 2em;
}
#benefits p {
  margin-bottom: 20px;
  font-size: 18px;
}

.benefits {
  display: flex;
  gap: 2em;
  margin-top: 2em;
}

.img-benefits {
  border: none;
  background-color: white;
  transition: 0.5s;
}

.img-benefits:hover {
  transform: scale(1.1);
  z-index: 2;
}

#img-benefits {
  margin-top: 10px;
  margin-bottom: 10px;
}
#img-benefits h4 {
  margin-bottom: 10px;
  font-size: 2em;
}
#img-benefits button {
  padding: 10px 50px;
  border-radius: 10px;
  color: white;
  background-color: rgb(0, 128, 128);
  border: none;
  cursor: pointer;
}
#img-benefits button:hover {
  background-color: white;
  color: rgb(0, 128, 128);
  border: 1px solid rgb(0, 128, 128);
}

.privacy {
  width: 50%;
  margin: 0 auto;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-top: 10em;
}
.privacy h3 {
  font-size: 2em;
}
.privacy p {
  font-size: 18px;
  margin-top: 1em;
}

.services {
  width: 50%;
  margin: 0 auto;
  justify-content: center;
  text-align: center;
  margin-top: 10em;
}
.services h3 {
  font-size: 2em;
}

#services {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
  align-items: center;
  margin-top: 40px;
}
#services p {
  font-size: 18px;
}

.hero {
  width: 100%;
  height: 80vh;
  background: url(/images/pexels-rdne-6129683.jpg);
  position: relative;
  padding: 0 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-size: cover;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.container {
  position: relative;
  z-index: 1;
}

.hero h1 {
  font-size: 6rem;
  color: white;
  line-height: 1em;
}

.hero-content {
  background: transparent;
}

.container button {
  padding: 20px 70px;
  background-color: rgb(0, 128, 128);
  border-radius: 10px;
  border: none;
  margin-top: 1em;
  font-size: 20px;
  color: white;
  cursor: pointer;
}
.container button:hover {
  background-color: white;
  color: rgb(0, 128, 128);
  border: 1px solid rgb(0, 128, 128);
}

.key-features {
  width: 60%;
  margin: 0 auto;
  display: flex;
  margin-top: 10em;
  justify-content: center;
}

.fa-solid {
  cursor: pointer;
  font-size: 1.5em;
}

.accordion {
  max-width: 300px;
  width: 50%;
  background-color: rgb(242, 242, 242);
  margin: 0 15px;
  padding: 15px;
  border-radius: 8px;
}

.accordion .accordion-content {
  margin: 20px;
  border-bottom: 1px solid black;
  overflow: hidden;
}

.accordion-content.open {
  padding-bottom: 10px;
}

.accordion-content header {
  display: flex;
  align-items: center;
  min-height: 50px;
  cursor: pointer;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  transition: all 0.2s linear;
}

.accordion-content.open header {
  min-height: 35px;
}

.accordion-content .description {
  padding: 0 15px;
  height: 0;
  transition: all 0.2s linear;
}

.testimonials {
  width: 60%;
  margin: 0 auto;
  justify-content: center;
  text-align: center;
  margin-top: 10em;
}
.testimonials h3 {
  font-size: 2em;
}

.test-containers {
  display: flex;
  gap: 2em;
  margin-top: 2em;
}

.containers {
  background-color: white;
  padding: 20px;
}
.containers p {
  font-size: 18px;
}

footer {
  width: 70%;
  margin: 0 auto;
  text-align: center;
}

.footer {
  margin-top: 10em;
  margin-bottom: 3em;
}

.footer-icons {
  gap: 20px;
}
.footer-icons i {
  font-size: 2em;
  cursor: pointer;
}

.copy-right p {
  font-size: 18px;
  margin-top: 2em;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.fam-logo {
  cursor: pointer;
}

.top-nav ul {
  display: flex;
  gap: 2em;
}
.top-nav ul li a {
  font-size: 18px;
}
.top-nav ul li a:hover {
  color: rgb(0, 128, 128);
  cursor: pointer;
}
.top-nav ul i:hover {
  color: rgb(0, 128, 128);
  cursor: pointer;
}

.nav-btn {
  background-color: rgb(0, 128, 128);
  border: none;
  font-size: 18px;
  padding: 10px 50px;
  border-radius: 10px;
  color: white;
}
.nav-btn:hover {
  color: rgb(0, 128, 128);
  background-color: white;
  border: 1px solid rgb(0, 128, 128);
  cursor: pointer;
}

.bodys {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-position: center;
  background: url(../../../images/pexels-rdne-6129683.jpg);
  background-size: cover;
}

.bodys::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.wrapper-login {
  width: 420px;
  background-color: white;
  background-color: rgb(242, 242, 242);
  color: black;
  border-radius: 12px;
  padding: 30px 40px;
  position: relative;
  z-index: 1;
}

.wrapper-login h1 {
  font-size: 36px;
  text-align: center;
}

.wrapper-login .login-box {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 40px 0;
}

.wrapper-login .login-box p {
  padding-left: 10px;
  padding-bottom: 5px;
  padding-top: 10px;
}

.login-box input {
  width: 100%;
  height: 100%;
  background: white;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  font-size: 16px;
  color: black;
  padding: 20px 45px 20px 20px;
}

#county {
  width: 100%;
  height: 100%;
  background: white;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  font-size: 16px;
  color: black;
  padding-left: 20px;
}

.login-box input::-moz-placeholder {
  color: gray;
}

.login-box input::placeholder {
  color: gray;
}

.login-box i {
  position: absolute;
  right: 20px;
  top: 30%;
  transform: translate(-50%);
  font-size: 20px;
  cursor: pointer;
}

.login-box input:focus {
  outline: 0;
}

.wrapper-login .remember-forgot {
  display: flex;
  justify-content: space-between;
  font-size: 14.5px;
  margin: 70px 0 15px;
}

.remember-forgot label input {
  accent-color: black;
  margin-right: 3px;
}

.remember-forgot a {
  color: black;
  text-decoration: none;
}

.remember-forgot a:hover {
  text-decoration: underline;
}

.wrapper-login .btn {
  width: 100%;
  height: 45px;
  background: rgb(0, 128, 128);
  border: none;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  color: white;
  font-weight: 600;
  margin-top: 1em;
}
.wrapper-login .btn:hover {
  color: rgb(0, 128, 128);
  background-color: white;
  border: 1px solid rgb(0, 128, 128);
}

.wrapper-login .register-link {
  font-size: 14.5px;
  text-align: center;
  margin: 20px 0 15px;
}

.register-link p a {
  color: black;
  text-decoration: none;
  font-weight: 600;
}

.register-link p a:hover {
  text-decoration: underline;
}

.bodys {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-position: center;
  background: url(../../../images/pexels-rdne-6129683.jpg);
  background-size: cover;
}

.bodys::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.wrapper {
  width: 420px;
  background-color: white;
  background-color: rgb(242, 242, 242);
  color: black;
  border-radius: 12px;
  padding: 30px 40px;
  position: relative;
  z-index: 1;
}

.wrapper h1 {
  font-size: 36px;
  text-align: center;
}

.wrapper .input-box {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 40px 0;
}

.wrapper .input-box p {
  padding-left: 10px;
  padding-bottom: 5px;
  padding-top: 10px;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: white;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  font-size: 16px;
  color: black;
  padding: 20px 45px 20px 20px;
}

#county {
  width: 100%;
  height: 100%;
  background: white;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  font-size: 16px;
  color: black;
  padding-left: 20px;
}

.input-box input::-moz-placeholder {
  color: gray;
}

.input-box input::placeholder {
  color: gray;
}

.input-box i {
  position: absolute;
  right: 20px;
  top: 30%;
  transform: translate(-50%);
  font-size: 20px;
  cursor: pointer;
}

.input-box input:focus {
  outline: 0;
}

.wrapper .remember-forgot {
  display: flex;
  justify-content: space-between;
  font-size: 14.5px;
  margin: -5px 0 15px;
}

.remember-forgot label input {
  accent-color: black;
  margin-right: 3px;
}

.remember-forgot a {
  color: black;
  text-decoration: none;
}

.remember-forgot a:hover {
  text-decoration: underline;
}

.wrapper .btn {
  width: 100%;
  height: 45px;
  background: rgb(0, 128, 128);
  border: none;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  color: white;
  font-weight: 600;
  margin-top: 1em;
}
.wrapper .btn:hover {
  color: rgb(0, 128, 128);
  background-color: white;
  border: 1px solid rgb(0, 128, 128);
}

.wrapper .register-link {
  font-size: 14.5px;
  text-align: center;
  margin: 20px 0 15px;
}

.register-link p a {
  color: black;
  text-decoration: none;
  font-weight: 600;
}

.register-link p a:hover {
  text-decoration: underline;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul li {
  text-decoration: none;
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

body {
  background-color: rgb(242, 242, 242);
}