.about-famcare {
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-top: 8em;
}
.about-famcare h3 {
  margin-bottom: 1em;
  font-size: 2em;
}

#about-famcare {
  width: 50%;
  margin: 0 auto;
  margin-top: 4em;
}
#about-famcare p {
  font-size: 18px;
}

#benefits {
  width: 60%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 10em;
}
#benefits h3 {
  margin-bottom: 10px;
  font-size: 2em;
}
#benefits p {
  margin-bottom: 20px;
  font-size: 18px;
}

.benefits {
  display: flex;
  gap: 2em;
  margin-top: 2em;
}

.img-benefits {
  border: none;
  background-color: white;
  transition: 0.5s;
}

.img-benefits:hover {
  transform: scale(1.1);
  z-index: 2;
}

#img-benefits {
  margin-top: 10px;
  margin-bottom: 10px;
}
#img-benefits h4 {
  margin-bottom: 10px;
  font-size: 2em;
}
#img-benefits button {
  padding: 10px 50px;
  border-radius: 10px;
  color: white;
  background-color: rgb(0, 128, 128);
  border: none;
  cursor: pointer;
}
#img-benefits button:hover {
  background-color: white;
  color: rgb(0, 128, 128);
  border: 1px solid rgb(0, 128, 128);
}

.privacy {
  width: 50%;
  margin: 0 auto;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-top: 10em;
}
.privacy h3 {
  font-size: 2em;
}
.privacy p {
  font-size: 18px;
  margin-top: 1em;
}

.services {
  width: 50%;
  margin: 0 auto;
  justify-content: center;
  text-align: center;
  margin-top: 10em;
}
.services h3 {
  font-size: 2em;
}

#services {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
  align-items: center;
  margin-top: 40px;
}
#services p {
  font-size: 18px;
}

.hero {
  width: 100%;
  height: 80vh;
  background: url(/images/pexels-rdne-6129683.jpg);
  position: relative;
  padding: 0 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-size: cover;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.container {
  position: relative;
  z-index: 1;
}

.hero h1 {
  font-size: 6rem;
  color: white;
  line-height: 1em;
}

.hero-content {
  background: transparent;
}

.container button {
  padding: 20px 70px;
  background-color: rgb(0, 128, 128);
  border-radius: 10px;
  border: none;
  margin-top: 1em;
  font-size: 20px;
  color: white;
  cursor: pointer;
}
.container button:hover {
  background-color: white;
  color: rgb(0, 128, 128);
  border: 1px solid rgb(0, 128, 128);
}

.key-features {
  width: 60%;
  margin: 0 auto;
  display: flex;
  margin-top: 10em;
  justify-content: center;
}

.fa-solid {
  cursor: pointer;
  font-size: 1.5em;
}

.accordion {
  max-width: 300px;
  width: 50%;
  background-color: rgb(242, 242, 242);
  margin: 0 15px;
  padding: 15px;
  border-radius: 8px;
}

.accordion .accordion-content {
  margin: 20px;
  border-bottom: 1px solid black;
  overflow: hidden;
}

.accordion-content.open {
  padding-bottom: 10px;
}

.accordion-content header {
  display: flex;
  align-items: center;
  min-height: 50px;
  cursor: pointer;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  transition: all 0.2s linear;
}

.accordion-content.open header {
  min-height: 35px;
}

.accordion-content .description {
  padding: 0 15px;
  height: 0;
  transition: all 0.2s linear;
}

.testimonials {
  width: 60%;
  margin: 0 auto;
  justify-content: center;
  text-align: center;
  margin-top: 10em;
}
.testimonials h3 {
  font-size: 2em;
}

.test-containers {
  display: flex;
  gap: 2em;
  margin-top: 2em;
}

.containers {
  background-color: white;
  padding: 20px;
}
.containers p {
  font-size: 18px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.fam-logo {
  cursor: pointer;
}

.top-nav ul {
  display: flex;
  gap: 2em;
}
.top-nav ul li a {
  font-size: 18px;
}
.top-nav ul li a:hover {
  color: rgb(0, 128, 128);
  cursor: pointer;
}
.top-nav ul i:hover {
  color: rgb(0, 128, 128);
  cursor: pointer;
}

.nav-btn {
  background-color: rgb(0, 128, 128);
  border: none;
  font-size: 18px;
  padding: 10px 50px;
  border-radius: 10px;
  color: white;
}
.nav-btn:hover {
  color: rgb(0, 128, 128);
  background-color: white;
  border: 1px solid rgb(0, 128, 128);
  cursor: pointer;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul li {
  text-decoration: none;
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

body {
  background-color: rgb(242, 242, 242);
}