@use "../utilities/variables"as *;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    li{
        
        text-decoration: none;
        list-style: none;
        
    }
}
  
a{
    text-decoration: none;
    color: black;
}

body{
    background-color: $secondary-color;
 

}