.services{
    width: 50%;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
    margin-top: 10em;
    h3{
        font-size: 2em;
    }
}

#services{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    align-items: center;
    margin-top: 40px;
    p{
        font-size: 18px;
    }
    
}