.privacy{
    width: 50%;
    margin: 0 auto;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-top: 10em;

    h3{
        font-size: 2em;
    }

    p{
        font-size: 18px;
        margin-top: 1em;
    }
}

@media screen and (max-width: 768px) {
    .privacy {
        width: 90%;
        margin-top: 5em;
    }

    .privacy h3 {
        font-size: 1.5em;
    }

    .privacy p {
        font-size: 16px;
    }
}