.services{
    width: 50%;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
    margin-top: 10em;
    h3{
        font-size: 2em;
    }
}

#services{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    align-items: center;
    margin-top: 40px;
    p{
        font-size: 18px;
    }
    
}

@media (max-width: 768px) {
    .services {
      width: 80%; 
      margin-top: 5em;
    }
  
    .services h3 {
      font-size: 1.5em;
    }
  
    #services {
      flex-direction: column;
      align-items: center;
      border-bottom: none;
      margin-top: 20px;
    }
  
    #services p {
      font-size: 16px;
      margin-top: 10px;
    }

    #responsive-bold{
        font-weight: 1000;
        text-decoration: underline;
    }
  }
  