footer{
    width: 70%;
    margin: 0 auto;
    text-align: center;
}

.footer{
    margin-top: 10em;
    margin-bottom: 3em;
}

.footer-icons{
    gap: 20px;
    
i{
    font-size: 2em;
    cursor: pointer;
}
}

.copy-right{
    p{
        font-size: 18px;
        margin-top: 2em;
    }
}