@use "../../utilities/variables" as*;

.bodys{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-position: center;
    background: url(../../../images/pexels-rdne-6129683.jpg);
    background-size: cover;
  }

  .bodys::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8) ;
}


  .wrapper{
    width: 420px;
    background-color: white;
   background-color: $secondary-color;
    color: black;
    border-radius: 12px;
    padding: 10px 40px;
    position: relative;
    z-index: 1;
  }
  .wrapper h1{
    font-size: 20px;
    text-align: center;
  }
  .wrapper .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    
    margin: 40px 0;
  }

  .wrapper .input-box p{
    padding-left: 10px;
    padding-bottom: 5px;
    padding-top: 10px;

  }


  .input-box input{
    width: 100%;
    height: 100%;
    background: white;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 10px;
    font-size: 16px;
    color: black;
    padding: 20px 45px 20px 20px;
  }

  #person{
    width: 100%;
    height: 100%;
    background: white;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 10px;
    font-size: 16px;
    color: black;
    // padding: 20px 45px 20px 20px;
    padding-left: 20px;
  }

  .input-box input::placeholder{
    color: gray;
  }
  .input-box i{
    position: absolute;
    right: 20px;
    top: 30%;
    transform: translate(-50%);
    font-size: 20px;
    cursor: pointer;
  
  }

.input-box input:focus{
  outline: 0;
}

.register-person{
  margin-bottom: -200px;
}




  .wrapper .remember-forgot{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -5px 0 15px;
  }
  .remember-forgot label input{
    accent-color: black;
    margin-right: 3px;
  
  }
  .remember-forgot a{
    color: black;
    text-decoration: none;
  
  }
  .remember-forgot a:hover{
    text-decoration: underline;
  }
  .wrapper .btn{
    width: 100%;
    height: 45px;
    background: $primary-color;
    border: none;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    color: white;
    font-weight: 600;
    margin-top: 1em;
    &:hover{
        color: $primary-color;
        background-color: white;
        border: 1px solid $primary-color
    }
  }
  .wrapper .register-link{
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
  
  }
  .register-link p a{
    color: black;
    text-decoration: none;
    font-weight: 600;
  }
  .register-link p a:hover{
    text-decoration: underline;
  }

.input-box {
  position: relative;
  margin-bottom: 15px;
}

.input-box input, .input-box select {
  border: 2px solid #ccc;
  padding: 8px;
  width: 100%;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
}

.input-box .error {
  color: red;
  font-size: 12px;
  display: none; 
  margin-top: 5px;
}

.input-box.error input,
.input-box.error select {
  border-color: red;
}

.input-box.success input,
.input-box.success select {
  border-color: green;
}


@media (max-width: 768px) {
  .wrapper {
    width: 80%;
    padding: -5px 20px;
    // height: auto;
  }

  #form h1{
    margin-bottom: -35px;
  }

  .wrapper h1 {
    font-size: 28px;
  }

  .input-box {
    margin: 20px 0;
  }

  .input-box input,
  #county {
    font-size: 14px;
    padding: 15px 35px 15px 15px;
  }

  .input-box i {
    right: 15px;
    font-size: 18px;
  }

  .input-box p{
    margin-bottom: -5px;
  }


  .wrapper .remember-forgot {
    font-size: 12px;
  }

  .wrapper .btn {
    height: 40px;
    font-size: 14px;
  }

  .wrapper .register-link {
    font-size: 12px;
  }
}

